body {
  font-family: 'Acme', sans-serif;
  background-color: #e6f2ff;
  padding: 0 3%;
}

ul li {
  list-style: none;
  cursor: pointer;
  margin-bottom: 2px; 
  border-bottom: 1px solid #f0f0f5;
}

h3 {
  color: #3366ff;
}

/* Video Player */
.loading {
  text-align: center;
  vertical-align: middle;
  line-height: 350px;
  font-size: 50px;
  color: #3366ff;
}

#player {
  margin-top: 50px;
}

#description {
  border-top: 1px solid black;
  margin-top: 10px;
  padding-top: 10px;
}

/* Search */
input {
  margin-right: 5px;
}

#search {
  margin-bottom: 20px; 
  text-align: center;
}

/* Header */
#header {
  text-align: center;
  margin-bottom: 10px; 
  border-bottom: 1px solid black;
  color: #3366ff;
}

/* Video List */
.list-container {
  margin: 0 auto;
  background-color: #b3d7ff;
  width: 300px;
  height: 450px;
  overflow-y: scroll;
  border: 1px solid black;
}

ul:first-child {
  padding-top: 10px; 
}

/* Video */
.title {
  font-size: 20px;
  color: #3366ff;
  margin-left: 5%; 
}

.title:hover {
  color: #0000ff;
  text-decoration: none;
}

.thumbnail {
  float: left;
  margin-left: 5%;
  margin-right: 1%; 
}

.from {
  padding-top: 25px;
}
